<ul class="main-paging-top">
    <li><a href="#/home/1">Home</a><i>»</i></li>
    <li><a href="#/movies/{{genres.[0]}}/1">{{genres.[0]}}</a><i>»</i></li>
    <li><a href="#/movies/{{id}}">{{title}}</a></li>
</ul>
<div>Post works</div>
<div>{{title}}</div>
<div>{{director}}</div>
<div>{{year}}</div>
<div>{{description}}</div>