<ul class="main-paging-menu">
    <li class="main-paging-left"><a href=""><span class="glyphicon glyphicon-chevron-left"></span></a></li>
    {{#each this}}
        {{#if category}}
            {{#if subcategory}}
                {{#if @first}}
                {{else}}
                    <li><a href="#/{{category}}/{{subcategory}}/{{@index}}">{{@index}}</a></li>
                {{/if}}
            {{else}}
                {{#if @first}}
                {{else}}
                    <li><a href="#/{{category}}/{{@index}}">{{@index}}</a></li>
                {{/if}}
            {{/if}}
        {{else}}
            {{#if @first}}
            {{else}}
                <li><a href="#/home/{{@index}}">{{@index}}</a></li>
            {{/if}}
        {{/if}}
    {{/each}}
    <li class="main-paging-right"><a href=""><span class="glyphicon glyphicon-chevron-right"></span></a></li>
</ul>