<ul class="main-paging-top post-movie-paging-mt-ml">
    <li><a href="#/home/1">Home</a><i>»</i></li>
    <li><a href="#/movies/{{genres.[0]}}/1">{{genres.[0]}}</a><i>»</i></li>
    <li><a href="#/movies/{{id}}">{{title}}</a></li>
</ul>

<article class="movie-post">
    <div class="movie-post-left">
        <div class="article-container-head">
            <div class="article-category to-uppercase">{{genres.[0]}}</div>
            <p class="article-year to-uppercase">{{year}}</p>
            <img  class="poster-img" src="{{imgSrc}}" alt="movie poster">
        </div>
        <div class="article-container-tags">
            <p>genres</p>
            <ul>
            {{#each genres}}
                <li>{{this}}</li>
            {{/each}}
            </ul>
        </div>
        <div class="article-container-body">
            <p>Related Posts</p>
            <ul class="aside-ul">
                <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Sed neque ipsum pulvinar eu</a></li>
                <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Cras eu eros id dui porttitor</a></li>
                <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Vivamus vitae nibh id quam</a></li>
            </ul>
        </div>
        <div class="article-container-share">
            <p>Share This</p>
            <div class="img-container">
                <a class="aside-a" href="#/home/1"><img src="./assets/images/icon-1.png" alt="share icon"></a>
                <a class="aside-a" href="#/home/1"><img src="./assets/images/icon-2.png" alt="share icon"></a>
                <a class="aside-a" href="#/home/1"><img src="./assets/images/icon-3.png" alt="share icon"></a>
                <a class="aside-a" href="#/home/1"><img src="./assets/images/icon-4.png" alt="share icon"></a>
                <a class="aside-a" href="#/home/1"><img src="./assets/images/icon-5.png" alt="share icon"></a>
            </div>
        </div>
    </div>
    <div class="movie-post-right">
        <h2>{{title}}</h2>
        <h3>Director: {{director}} | Metascore
            {{#if rating}}
                {{rating}}
            {{else}}
                N/A
            {{/if}} | 30 Comments
            </h3>
        <div class="cast-container">Cast :
            <ul>
            {{#each cast}}
                <li>{{actor}} <span>as</span>
                {{#if character}}
                    {{character}}
                {{else}}
                N/A
                {{/if}}
                </li>
            {{/each}}
            </ul>
        </div>
        <div class="plot-summary">
            <h4>Plot Summary:</h4>
            <p>{{description}}</p>
        </div>
    </div>
</article>

<aside>
    <div class="movie-post-aside">
        <div class="post-aside-component">
            <div class="tablist">
                <button class="post-aside-btn one" >RECENT</button>
                <button class="post-aside-btn two" >POPULAR</button>
                <button class="post-aside-btn three aside-btn-l">RANDOM</button>
            </div>

            <div class="tabcontent">
                <ul class="tabitems one">
                    <li>
                        <div class="img-container">
                            <img src="./assets/images/picture-aside.png" alt="recent post icon">
                        </div>
                        <div class="text-container">
                            <a href="#/home/1">
                                <h5>1 Fusce suscipit sapien sit amet</h5>
                                <p>Posted by Admin on Mar 13</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-container">
                            <img src="./assets/images/picture-aside.png" alt="recent post icon">
                        </div>
                        <div class="text-container">
                            <a href="#/home/1">
                                <h5>1 Fusce suscipit sapien sit amet</h5>
                                <p>Posted by Admin on Mar 13</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-container">
                            <img src="./assets/images/picture-aside.png" alt="recent post icon">
                        </div>
                        <div class="text-container">
                            <a href="#/home/1">
                                <h5>1 Fusce suscipit sapien sit amet</h5>
                                <p>Posted by Admin on Mar 13</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-container">
                            <img src="./assets/images/picture-aside.png" alt="recent post icon">
                        </div>
                        <div class="text-container">
                            <a href="#/home/1">
                                <h5>1 Fusce suscipit sapien sit amet</h5>
                                <p>Posted by Admin on Mar 13</p>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="tabitems two hidden">
                    <li>
                        <div class="img-container">
                            <img src="./assets/images/picture-aside.png" alt="recent post icon">
                        </div>
                        <div class="text-container">
                            <a href="#/home/1">
                                <h5>2 Fusce suscipit sapien sit amet</h5>
                                <p>Posted by Admin on Mar 14</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-container">
                            <img src="./assets/images/picture-aside.png" alt="recent post icon">
                        </div>
                        <div class="text-container">
                            <a href="#/home/1">
                                <h5>2 Fusce suscipit sapien sit amet</h5>
                                <p>Posted by Admin on Mar 14</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-container">
                            <img src="./assets/images/picture-aside.png" alt="recent post icon">
                        </div>
                        <div class="text-container">
                            <a href="#/home/1">
                                <h5>2 Fusce suscipit sapien sit amet</h5>
                                <p>Posted by Admin on Mar 14</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-container">
                            <img src="./assets/images/picture-aside.png" alt="recent post icon">
                        </div>
                        <div class="text-container">
                            <a href="#/home/1">
                                <h5>2 Fusce suscipit sapien sit amet</h5>
                                <p>Posted by Admin on Mar 14</p>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="tabitems three hidden">
                     <li>
                        <div class="img-container">
                            <img src="./assets/images/picture-aside.png" alt="recent post icon">
                        </div>
                        <div class="text-container">
                            <a href="#/home/1">
                                <h5>3 Fusce suscipit sapien sit amet</h5>
                                <p>Posted by Admin on Mar 15</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-container">
                            <img src="./assets/images/picture-aside.png" alt="recent post icon">
                        </div>
                        <div class="text-container">
                            <a href="#/home/1">
                                <h5>3 Fusce suscipit sapien sit amet</h5>
                                <p>Posted by Admin on Mar 15</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-container">
                            <img src="./assets/images/picture-aside.png" alt="recent post icon">
                        </div>
                        <div class="text-container">
                            <a href="#/home/1">
                                <h5>3 Fusce suscipit sapien sit amet</h5>
                                <p>Posted by Admin on Mar 15</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="img-container">
                            <img src="./assets/images/picture-aside.png" alt="recent post icon">
                        </div>
                        <div class="text-container">
                            <a href="#/home/1">
                                <h5>3 Fusce suscipit sapien sit amet</h5>
                                <p>Posted by Admin on Mar 15</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="post-aside-component">
            <h4>CUSTOM TEXT WIDGET</h4>
            <ul class="aside-ul">
                <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Fusce suscipit sapien sit amet </a></li>
                <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Sapien placerat ultrices</a></li>
                <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Vivamus sed massa ac metus gravida</a></li>
            </ul>
        </div>
        <div class="post-aside-component">
            <h4>CUSTOM TEXT WIDGET</h4>
            <p class="post-aside-text">Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas
                posuere lorem. Sed ipsum urna, facilisis quis eleifend ut, sodales sed lectus. Integer felis eu ipsum malesuada
                luctus. Sed pharetra eleifend ante vitae fermentum.</p>
        </div>
    </div>
</aside>

<section id="movie-comments">
    <div class="movie-comment-header">30 comments</div>
    <div class="movie-comment-container first-comment">
        <div class="movie-comment-img">
            <img src="/assets/images/picture-comment.png" alt="comment pucture">
        </div>
        <div class="movie-comment-content">
            <h3>NICK ROACH</h3>
            <p>Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas posuere
                lorem. Sed ipsum urna, facilisis quis eleifend ut, sodales sed lectus. Integer felis eu ipsum malesuada luctus.
                Sed pharetra eleifend ante vitae fermentum. Praesent fermentum volutpat porta. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Sed pharetra eleifend ante vitae fermentum. </p>
        </div>
        <button>Reply</button>
    </div>
     <div class="movie-comment-container-reply">
        <div class="movie-comment-img reply-comment-img">
            <img src="/assets/images/picture-comment.png" alt="comment pucture">
        </div>
        <div class="movie-comment-content reply-comment-content">
            <h3>NICK ROACH</h3>
            <p>Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas posuere
                lorem. Sed ipsum urna, facilisis quis eleifend ut, sodales sed lectus. Integer felis eu ipsum malesuada luctus.
                Sed pharetra eleifend ante vitae fermentum. Praesent fermentum volutpat porta. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Sed pharetra eleifend ante vitae fermentum. </p>
        </div>
        <button>Reply</button>
    </div>
    <div class="movie-comment-container">
        <div class="movie-comment-img">
            <img src="/assets/images/picture-comment.png" alt="comment pucture">
        </div>
        <div class="movie-comment-content">
            <h3>NICK ROACH</h3>
            <p>Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas posuere
                lorem. Sed ipsum urna, facilisis quis eleifend ut, sodales sed lectus. Integer felis eu ipsum malesuada luctus.
                Sed pharetra eleifend ante vitae fermentum. Praesent fermentum volutpat porta. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Sed pharetra eleifend ante vitae fermentum. </p>
        </div>
        <button>Reply</button>
    </div>
    <div class="movie-comment-container">
        <div class="movie-comment-img">
            <img src="/assets/images/picture-comment.png" alt="comment pucture">
        </div>
        <div class="movie-comment-content">
            <h3>NICK ROACH</h3>
            <p>Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas posuere
                lorem. Sed ipsum urna, facilisis quis eleifend ut, sodales sed lectus. Integer felis eu ipsum malesuada luctus.
                Sed pharetra eleifend ante vitae fermentum. Praesent fermentum volutpat porta. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Sed pharetra eleifend ante vitae fermentum. </p>
        </div>
        <button>Reply</button>
    </div>
    <div class="movie-comment-container">
        <div class="movie-comment-img">
            <img src="/assets/images/picture-comment.png" alt="comment pucture">
        </div>
        <div class="movie-comment-content">
            <h3>NICK ROACH</h3>
            <p>Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim egestas posuere
                lorem. Sed ipsum urna, facilisis quis eleifend ut, sodales sed lectus. Integer felis eu ipsum malesuada luctus.
                Sed pharetra eleifend ante vitae fermentum. Praesent fermentum volutpat porta. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Sed pharetra eleifend ante vitae fermentum. </p>
        </div>
        <button>Reply</button>
    </div>

    <div class="comment-form-container">
        <h4>Leave a comment</h4>
        <form id="comment-submit-form" action="#/" method="post">
            <input class="comment-submit-form-fields" type="text" name="user-name" placeholder="User Name">
            <input class="comment-submit-form-fields" type="email" name="user-email" placeholder="Email">
            <textarea class="comment-submit-form-text" name="user-message" cols="96" rows="8" placeholder="Text Message"></textarea>
            <button class="comment-submit-form-btn" type="submit" disabled>Submit</button>
        </form>
    </div>
</section>